.inicio {
  width: 100%;
  height: 760px;
  display: flex;
  align-items:center;
  justify-content: center;
  position: relative;
  
  border: 5px solid rgb(210, 13, 13);
  overflow: hidden;
}

.contenido-hero-jaranda{
 text-align: center;
  position: absolute;
  z-index: 2;
              /* Centro horizontal */
 
}
.contenido-hero-jaranda a{
 background-color: black;
    position: relative;
    display: inline-block;
    color: orange;
    text-decoration: none;
    border: 1px solid black;
  
    overflow: hidden;
    z-index: 0;
    transition: transform 0.5s ease;
}




.inicio-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  
}
.inicio-img-wrapper {
  width: 100%;
  height: 100%;
  
  
  overflow: hidden;
  position: relative;
  border: 1px solid green;
}



.contenido-hero-jaranda a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(to right, #f78ca0, #fbc7a4);/*Cuando hay hover en la sección: despliega línea */
    transition: transform 0.5s ease;/*genera un fondo en transición suave entre colores (degradado).*/
    z-index: -1;
}

.contenido-hero-jaranda a:hover::before {
    transform: scaleX(1);
}

.contenido-hero-jaranda a:not(:hover)::before {
  transform-origin: right;
}
