
.container-fluid.productos {
  padding: 10px;
flex-grow: 1;
}

.card.text-center {
  align-items: center;
  /*El scale tarda 0.8s*/
  transition: transform 0.8s ease-in-out;
  margin-top: 50px;
  height: 730px;
  width: 100%;
}
.card-img-wrapper{
  height: 100%;
  width: 100%;
  border-radius: 6px;
}
.card-img-wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.categoria h2 {
  position: absolute;
  display: inline-block;
  font-size: 60px;
  margin-top: 150px;
}

.card.text-center:hover {
  /* Aumenta solo un 3% */
  transform: scale(1.01);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card-img-overlay {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  /*all: aplica la transición a todas las propiedades que puedan animarse,*/
  transition: all 1s ease-in-out;
}

.card.text-center:hover .card-img-overlay {
  opacity: 1;
}


.categoria h2::after {
  content: "";
  /* Genera un pseudo-elemento vacío */
  position: absolute;
  /* Lo posicionamos respecto al h2*/
  bottom: 0;
  left: 0;
  /* Pegado abajo del h2 */
  height: 2px;
  width: 100%;
  /* Línea del ancho del texto */
  background: orange;
  /* Color o gradiente decorativo */
  transform: scaleX(0);
  /* Inicialmente invisible (aplastada)*/
  transform-origin: left;
  /* Se expande desde la izquierda*/
  transition: all 1s ease-in-out;
  /* Animación suave */
}

.categoria:hover h2::after {
  transform: scaleX(1);
  /* Cuando hay hover en la sección: despliega línea */
  background: linear-gradient(to right, #f78ca0, #fbc7a4);
  /*genera un fondo en transición suave entre colores (degradado).*/
}